.login-popup {
  position: fixed;
  z-index: 1001;
  left: 0; top: 0; right: 0; bottom: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.45);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-popup-container {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 6px 24px rgba(34,34,34,0.14);
  padding: 2.2rem 2.5rem 1.5rem 2.5rem;
  min-width: 320px;
  width: max(23vw, 340px);
  display: flex;
  flex-direction: column;
  gap: 22px;
  font-size: 15px;
  animation: fadeIn 0.4s;
}

.login-popup-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #222;
}

.login-popup-title h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #ff6b00;
}

.login-popup-close {
  font-size: 2rem;
  color: #888;
  cursor: pointer;
  margin-left: 1rem;
  line-height: 1;
  font-weight: 700;
  transition: color 0.2s;
}
.login-popup-close:hover {
  color: #ff6b00;
}

.login-popup-inputs {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.login-popup-inputs input {
  outline: none;
  border: 1px solid #c9c9c9;
  padding: 11px;
  border-radius: 6px;
  font-size: 1rem;
  background: #fafafa;
}

.login-popup-container .btn {
  border: none;
  padding: 11px;
  border-radius: 6px;
  color: #fff;
  background-color: #ff6b00;
  font-size: 1.07rem;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.18s;
}

.login-popup-container .btn:hover {
  background: #e05d00;
}

.login-popup-condition {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  margin-top: -10px;
  font-size: 0.98rem;
  color: #333333;
}

.login-popup-condition input {
  margin-top: 5px;
}

.login-popup-condition p {
  color: #333333;
  font-size: 0.95rem;
  margin: 0;
}

.login-popup p span {
  color: #ff6b00;
  font-weight: 600;
  cursor: pointer;
  text-decoration: underline;
}

.login-popup p {
  color: #333333;
  font-size: 0.95rem;
  margin-top: 0.5rem;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px);}
  to { opacity: 1; transform: translateY(0);}
}

@media (max-width: 500px) {
  .login-popup-container {
    min-width: unset;
    width: 95vw;
    padding: 1.2rem 0.7rem 1rem 0.7rem;
    font-size: 14px;
  }
}
